section.reservations-section {
  grid-template-rows: repeat(100, 0fr);
  table, h2 {
    grid-column: span 12;
    width: 100%;
    margin: 20px 0;
    text-align: left;
  }

  th, td, tr {
    padding: 12px, 15px;
    border-bottom: 1px solid black;
    border-collapse: collapse;
  }



  .call-to-action {
    border-radius: 5px;
    height: 1.2em;
    width: 1.2em;
    min-width: 0px;
    padding: 2px;
    color: red;
    border: solid black 2px;
    background-color: #f4ce14;

    &:hover {
      background-color: #495e57;
      color: #edefee;
      border-color: #edefee;
      cursor: pointer;
    }
  }
}