article.special-card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  border-radius: 16px;

  .image-frame {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    border-radius: 16px 16px 0 0;
    width: min(250, 80vw);
    height: min(175, 50vh);
    overflow: hidden;
  }

  img {
    width: min(250, 80vw);
    height: min(175, 50vh);
    object-fit: cover;
  }

  h3 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    padding: 16px;
    margin: 0;
  }

  h4 {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    padding: 16px;
    margin: 0;
  }

  p {
    grid-column: 1/span 3;
    grid-row: 3/span 1;
    padding: 16px;
    margin: 0;
    text-align: left;
  }

  a {
    grid-column: 1/span 2;
    grid-row: 4/span 1;
    padding: 16px;
    margin: 0;
  }
}